button{
    width: 200px;
    height: 70px;
    border-width: 4px;
    border-radius: 35px;
    font-size: 25px;
    font-weight: bold;
    color: #f00;
    cursor: pointer;
    margin: 40px;
}
body{
    background-color: aqua;
    text-align: center;

    
}

img{
    width: 100px;
}

  